<ul class="media-list">
  <% microposts.each do |micropost| %>
  <li class="media">
    <div class="media-left">
      <img class="media-object img-rounded" src="<%= gravatar_url(micropost.user, {size: 50}) %>" alt="">
    </div>
    <div class="media-body">
      <div>
        <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">posted at<%= micropost.created_at %></span>
      </div>
      <div>
        <p><%= micropost.content %></p>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <div class="pull-left col-xs-6">
            <% if current_user == micropost.user %>
              <%#= link_to 'アカウントの編集', edit_users_path %> <!--未実装-->
              <%= link_to '削除', micropost, method: :delete, data: {confirm: '本当にこの投稿を削除しますか？'}, class: 'btn btn-danger btn-xs' %>
            <% end %>
          </div>
          <div class="col-xs-6">
            <%= render 'favorites/like_button', micropost: micropost %>
          </div>
        </div>
      </div>
    </div>
  </li>
  <% end %>
  <%= paginate microposts %>
</ul>
